* {
    margin: 0;
    padding: 0;
}

:root {
    --bs-white: #ffffff;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --font-roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-roboto);
    overflow: hidden;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: var(--bs-white);
}

.card {
    background-color: var(--bs-indigo);
    border-radius: 30px;
    padding: 20px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: var(--bs-white);
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px var(--bs-white);
}

.small {
    width: 100px;
    height: 100px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.large {
    width: 300px;
    height: 300px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(0.3);
    }
}

.pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}